/******************************
BODY AND FORMAT SECTION
*******************************/

html, body, #root, #app, #app>div {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: calc(100vh - 120px);
  font-family: 'Roboto', sans-serif;
  background-color: #465A63;
}

a {
  color: #f2f2f2;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/******************************
GENERAL COMPONENTS SECTION
*******************************/

input{
  font: 1em/1.25em Arial, Helvetica, sans-serif;
}

button {
  background-color: #FD6E44;
  border: 1px solid black;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: darkorange;
}


.input {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#search-container .input {
  width: 250px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

table {
  overflow-y:scroll;
  overflow-x:scroll;
  height: 400px;
  width: 500px;
  display:block;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #FD6E44;
}

th, td {
  width: 120px;
}

tr {
  height: 40px;
}

td {
  background-color: #f2f2f2;
  color: #205078;
  text-align: center;
}

td:hover {
  background-color: lightgrey;
}

th {
  background-color: #205078;
  color: #FDD46B;
}

th:hover {
  background-color: #465A63;
  color: #F2F2F2;
}

#landing {
  color: #f2f2f2;
  font-size: 24px;
}

/*
******************* MY THEME *******************
Dark blue #205078
Blue/grey #465A63
Orange #FD6E44
Bright white #FFFFFF
Yellow #FDD46B
Slightly off white #F2F2F2
*/

/******************************
NAV AND FOOTER SECTION
*******************************/

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.dark-bar {
  padding: 0px 10%;
  height: 30px;
  background-color: #205078;
  color: #FD6E44;
}

.light-bar {
  padding: 0px 10%;
  height: 30px;
  background-color: #FD6E44;
  color: #205078;
}

/******************************
GOOGLE SEARCH SECTION
*******************************/

#search-container {
  width: 860px;
  color: #f2f2f2;
}

/* .search-input {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */

#search-result {
  height: 75px;
  width: 600px;
  overflow: hidden;
  background-color: #fff;
  border: '1px solid black',
}

.result {
  padding: 0px 10px;
}

#result-1 {
  width: 520px;
  color: purple;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#result-2 {
  color: green;
  font-size: 13px;
}

#result-3 {
  color: black;
  font-size: 15px;
  word-wrap: normal;
}

/******************************
TITLE SCRAPER SECTION
*******************************/

#title-container {
  height: 400px;
  width: 800px;
  color: #fff;
}

#title-header {
  margin-bottom: 50px;
  font-size: 30px;
}

#title-error {
  font-size: 16px;
  color: red
}

/******************************
CONFIGURABLE TABLE SECTION
*******************************/

#table-container {
  width: 90%;
  color: #f2f2f2;
}

#table-forms {
  width: 450px;
}

#checkbox-group {
  display: flex;
  flex-direction: column;
  width: 250px;
}
